[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=alsa-plugin
Comment=alsa-plugin
Icon=multimedia-volume-control
X-XFCE-Module=alsa-plugin
X-XFCE-Module-Path=/usr/lib/x86_64-linux-gnu/xfce4/panel/plugins
X-XFCE-Internal=false
X-XFCE-Unique=true
X-XFCE-API=2.0
